<!DOCTYPE html>
<html>
<head>
	<title>Realty list</title>
</head>
<body>
<ul>
	{% for advert in object_list %}
		<li><a href='{{ advert.url }}'>{{ advert.address }}</a></li>
		<ul>
			{% for field in advert.get_fields %}
				<li>{{ field.label }}: {{ field.value }}</li>
			{% endfor %}
		</ul>
		<hr>
	{% endfor %}
</ul>


{% if paginator.num_pages > 1 %}
	{% for page in paginator.page_range %}
		<span>
		{% if page != page_obj.number %}
			<a href="?page={{ page }}">{{ page }}</a>
		{% else %}
			{{ page }}
		{% endif %}
		</span>
	{% endfor %}
{% endif %}

</body>
</html>